<h1> Résultats Nuits </h1>

<p>Application permettant de génerer un pdf sur un patient:</p>

<button class="btn-application" (click)="ouvrirAppli()">
  ouvrir application
</button>


<select (click)="listerNuitsNonTraitees()">
    <option> Choisir l'identifiant de la nuit </option>
     @for (nuit_etude of NuitsNontraitees(); track nuit_etude.id_nuit) {
    <option> {{ nuit_etude.id_nuit }}  </option>
  }
</select>
<br>
<br>
<select name="" id="" (click)="listerMedecins()">
    <option> Choisir le médecin validateur </option>

    @for (medecin of medecins(); track medecin.id) {
      <option>
        {{ medecin.nom}} {{ medecin.prenom }} - {{medecin.specialite }}
      </option>
    }
</select>


<div class="commentaire-container">

  <label for="commentaire">Commentaire :</label>

  <textarea
    id="commentaire"
    [(ngModel)]="commentaire"
    rows="5"
    placeholder="Saisissez votre commentaire...">
  </textarea>
  <button>Envoyer</button>
</div>




  <button class="btn-envoyer">
    Envoyer
  </button>


